@model MAInformation.Application.DataTransfer.CreateMovieDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CreateMovieDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorId" class="control-label"></label>
                <input asp-for="DirectorId" class="form-control" />
                @if(TempData["DirectorError"] == null)
                {
            <span class="alert-danger">@TempData["DirectorError"]</span>
                }
                <span asp-validation-for="DirectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImdbRating" class="control-label"></label>
                <input asp-for="ImdbRating" class="form-control" />
                @if (TempData["BadRating"] == null)
                {
            <span class="alert-danger">@TempData["BadRating"]</span>
                }
                <span asp-validation-for="ImdbRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <input asp-for="LanguageId" class="form-control" />
                @if (TempData["LanguageError"] == null)
                {
            <span class="alert-danger">@TempData["LanguageError"]</span>
                }
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiereDate" class="control-label"></label>
                <input asp-for="PremiereDate" class="form-control" />
                @if (TempData["BadDate"] == null)
                {
                    <span class="alert-danger">@TempData["BadDate"]</span>
                }
                <span asp-validation-for="PremiereDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
